body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(to right, #74ebd5, #9face6);
    height: 100vh;
}

h1 {
    margin-top: 40px;
}

.buttons button {
    padding: 15px 30px;
    margin: 10px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
}

#result {
    margin-top: 30px;
    font-size: 22px;
    font-weight: bold;
}
